<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="marc" />
    <title>{{ page.title }} | {{ site.name[page.language] }}</title>
    <meta name="description" content="{{ site.description[page.language] }}" />
    <link
      rel="shortcut icon"
      href="{{ site.baseurl }}favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="{{ site.baseurl }}favicon.ico" type="image/x-icon" />
    <link href="{{ site.baseurl }}fonts/Lato" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}libs/font-awesome/css/all.css"
    />
    <link href="{{ site.baseurl }}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}css/styles.css" rel="stylesheet" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-130684339-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-130684339-1");
    </script>
  </head>

  <body>
    <div id="mobile-menu-open" class="shadow-large">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <header>
      <div id="mobile-menu-close">
        <span>{{ page.close }}</span>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <ul id="menu" class="shadow">
        <li style="float: left;">
          <a id="welcome"><strong>{{ page.welcome }}</strong></a>
        </li>
        <li style="float: right;">
          <a href="{{ site.baseurl }}" class="no-scroll">
            <img
              src="{{ site.baseurl }}images/english_flag.png"
              alt="English flag"
              width="32"
              height="20"
            />
          </a>
        </li>
        <li style="float: right;">
          <a href="{{ site.baseurl | append: 'es' }}" class="no-scroll">
            <img
              src="{{ site.baseurl }}images/spanish_flag.png"
              alt="Spanish flag"
              width="32"
              height="20"
            />
          </a>
        </li>
        <li style="float: right;">
          <a href="{{ site.baseurl | append: 'ca' }}" class="no-scroll">
            <img
              src="{{ site.baseurl }}images/catalan_flag.png"
              alt="Catalan flag"
              width="32"
              height="20"
            />
          </a>
        </li>
        <br />
        <br />
        <li><a href="#about">{{ page.about }}</a></li>
        <li><a href="#experience">{{ page.experience }}</a></li>
        <li><a href="#education">{{ page.education }}</a></li>
        <li><a href="#skills">{{ page.skills }}</a></li>
        <li><a href="#contact">{{ page.contact }}</a></li>
      </ul>
    </header>

    <div id="lead">
      <div id="lead-content">
        <div>
          <h1>Marc Bisquert Garcia</h1>
          <h2>{{ page.profession }}</h2>
          <!-- <a
            href="https://drive.google.com/open?id=1mG8EopC0IgaZwmxG7LhdNGtsXdyNnBpx"
            class="btn-rounded-white"
            >CV</a
          > -->
        </div>
      </div>

      <div id="lead-overlay"></div>

      <div id="lead-down">
        <span>
          <i
            class="fa fa-chevron-down"
            aria-hidden="true"
            style="margin-top: 2px;"
          ></i>
        </span>
      </div>
    </div>

    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-3" style="text-align: center;">
            <h2 class="heading">{{ page.about }}</h2>
            <br />
            <img
              width="175px"
              height="175px"
              src="images/About.jpg"
              style="border-radius: 30px; margin-bottom: 30px;"
            />
          </div>
          <div class="col-md-9">
            <p>{{ page.about_detail }}</p>
          </div>
        </div>
      </div>
    </div>

    <div id="experience" class="background-alt">
      <h2 class="heading">{{ page.experience }}</h2>
      <div id="experience-timeline">
        <div data-date="{{ page.experience_8_date }}">
          {{ page.experience_8_detail }}
        </div>
        <div data-date="{{ page.experience_7_date }}">
          {{ page.experience_7_detail }}
        </div>
        <div data-date="{{ page.experience_6_date }}">
          {{ page.experience_6_detail }}
        </div>
        <div data-date="{{ page.experience_5_date }}">
          {{ page.experience_5_detail }}
        </div>
        <div data-date="{{ page.experience_4_date }}">
          {{ page.experience_4_detail }}
        </div>
        <div data-date="{{ page.experience_3_date }}">
          {{ page.experience_3_detail }}
        </div>
        <div data-date="{{ page.experience_2_date }}">
          {{ page.experience_2_detail }}
        </div>
        <div data-date="{{ page.experience_1_date }}">
          {{ page.experience_1_detail }}
        </div>
      </div>
    </div>

    <div id="education">
      <h2 class="heading">{{ page.education }}</h2>
      <div class="education-block">
        {{ page.education_2_detail }}
      </div>
      <div class="education-block">
        {{ page.education_1_detail }}
      </div>
    </div>

    <div id="skills">
      <h2 class="heading">{{ page.skills }}</h2>
      <ul>
        {{ page.skills_detail }}
      </ul>
    </div>

    <div id="contact">
      <h2>{{ page.contact_form }}</h2>
      <div id="contact-form">
        <form
          method="POST"
          action="https://formspree.io/marc.bisquertgarcia@hotmail.com"
        >
          <input
            type="hidden"
            name="_subject"
            value="Contact request from personal website"
          />
          <input
            type="email"
            name="_replyto"
            placeholder="{{ page.your_email }}"
            required
          />
          <textarea
            name="message"
            placeholder="{{ page.your_message }}"
            required
          ></textarea>
          <button type="submit">{{ page.send }}</button>
        </form>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-5 copyright">
            <p>
              Copyright &copy; 2020 Marc Bisquert Garcia
            </p>
          </div>
          <div class="col-sm-2 top">
            <span id="to-top">
              <i
                class="fa fa-chevron-up"
                aria-hidden="true"
                style="margin-top: 6px;"
              ></i>
            </span>
          </div>
          <div class="col-sm-5 social">
            <ul>
              <li>
                <a href="https://github.com/Psique" target="_blank"
                  ><i class="fab fa-github" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/marc-bisquert-garcia/"
                  target="_blank"
                  ><i class="fab fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://open.spotify.com/user/motdepsique?si=IZRFVZbnQ8e3voFVyX_NmQ"
                  target="_blank"
                  ><i class="fab fa-spotify" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}js/scripts.min.js"></script>
  </body>
</html>
